# Name: SP8CT_Filters
# Author: SP8CT project

Plugins>SP8CT>Filters, "Gaussian Filter 2D",            Gaussian_Filter_2D
Plugins>SP8CT>Filters, "Gaussian Filter 3D",            Gaussian_Filter_3D
Plugins>SP8CT>Filters, "Gaussian Filter 3D Ext",        Gaussian_Filter_3D_Ext
Plugins>SP8CT>Filters, "Median Filter 2D",              Median_Filter_2D
Plugins>SP8CT>Filters, "Median Filter 3D Ext",          Median_Filter_3D_Ext
Plugins>SP8CT>Filters, "Bilateral Filter 2D",           Bilateral_Filter_2D
Plugins>SP8CT>Filters, "Bilateral Filter 3D Ext",       Bilateral_Filter_3D_Ext
Plugins>SP8CT>Filters, "NLM Filter 2D",                 NLM_Filter_2D
Plugins>SP8CT>Filters, "NLM Filter 3D Ext",             NLM_Filter_3D_Ext
Plugins>SP8CT>Filters, "TV Denoise 2D",                 TV_Denoise_2D
Plugins>SP8CT>Filters, "TV Denoise 3D Ext",             TV_Denoise_3D_Ext
Plugins>SP8CT>Filters, "Wavelet Denoise 2D",            Wavelet_Denoise_2D
Plugins>SP8CT>Filters, "Wavelet Denoise 3D Ext",        Wavelet_Denoise_3D_Ext
Plugins>SP8CT>Filters, "Anisotropic Diffusion 2D",      Anisotropic_Diffusion_2D
Plugins>SP8CT>Filters, "Anisotropic Diffusion 3D Ext",  Anisotropic_Diffusion_3D_Ext
Plugins>SP8CT>Filters, "BM3D Filter 2D",                BM3D_Filter_2D
Plugins>SP8CT>Filters, "BM4D Filter 3D Ext",            BM4D_Filter_3D_Ext

# Name: SP8CT_Tools
# Author: SP8CT project

Plugins>SP8CT>Tools, "Stack Crop 3D",  Stack_Crop_3D

# Name: SP8CT_IO
# Author: SP8CT project

Plugins>SP8CT>IO, "Open HIS/IMG...",   Open_HIS_IMG
